<section class="">
    <div class="container py-5 ">
        <div class="row py-3 ">
            <div class="col-md-4">
                <div class="inner">
                    <h3 class=" width mx-auto">LOCATION</h3>
                    <div class="width mx-auto">2215 John Daniel Drive</div>
                    <div class="width mx-auto ">Clark, MO 65243</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="inner">
                    <h3 class="px-2 width text-uppercase mx-auto">Around the web</h3>
                    <div class="icons d-flex mx-auto ">
                        <span class="circle mx-2"><i class="fa-brands fa-facebook "></i></span>
                        <span class="circle mx-2"><i class="fa-brands fa-twitter"></i></span>
                        <span class="circle mx-2"><i class="fa-brands fa-linkedin"></i></span>
                        <span class="circle mx-2"><i class="fa-solid fa-globe mx-1 icon"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="inner">
                    <h3 class="px-2 width mx-auto">ABOUT FREELANCER</h3>
                    <div class="width mx-auto">Freelance is a free to use, licensed Bootstrap theme</div>
                    <div class="mx-auto width">created by Route</div>
                </div>
            </div>
        </div>
    </div>
    <div class="second" >
        <span class="mx-auto width">Copyright © Your Website 2025</span>
    </div>
</section>