<div class="Body d-flex align-items-center">
    <div class="container bg-transparent ">
        <h4 class="h1 header py-2">About Component</h4>
        <div class="py-2 divider">
            <i class=" star fa-solid fa-star"></i>
        </div>
        <div class="innerText d-flex">
            <div class="ps-1 first w-50">
            Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML,
                 CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
            </div>
            <div class="second w-50">
                Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML,
                 CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
            </div>
        </div>
    </div>
</div>