<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<nav class="navbar navbar-expand-lg pb-0  ">
    <div class="container py-3 ">
      <a class="navbar-brand headerText m-0 text-dark" routerLink="home" >START FRAMEWORK</a>
      <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
        <div class="navbar-nav ps-5 mx-auto linkText ">
          <a class="nav-link active text-uppercase text-dark" aria-current="page" routerLink="about" routerLinkActive="navactive text-white  rounded-1">about</a>
          <a class="nav-link text-uppercase text-dark" routerLink="Portfolio" routerLinkActive="navactive text-white rounded-1">porfolio</a>
          <a class="nav-link text-uppercase text-dark" routerLink="contact" routerLinkActive="navactive text-white rounded-1">contact</a>
        </div>
      </div>
    </div>
  </nav>