<div class="Body py-3">
    <h3 class="h1 heading text-uppercase">contact section</h3>
    <div class="py-2 divider">
        <i class=" star fa-solid fa-star"></i>
    </div>
    <div class="container w-50 py-2 ">
        <input class="form-control border-0 border-bottom border-success customSelect mt-3 mb-5" type="text" placeholder="userName" aria-label=".form-control-lg example">
        <input class="form-control border-0 border-bottom border-success customSelect my-5" type="number" placeholder="userAge" aria-label=".form-control-lg example">
        <input class="form-control border-0 border-bottom border-success customSelect my-5" type="email" placeholder="userEmail" aria-label=".form-control-lg example">
        <input class="form-control border-0 border-bottom border-success customSelect mt-5 mb-3" type="password" placeholder="userPassword" aria-label=".form-control-lg example">
        <button class="rounded-1 border-0 p-2">send Message</button>
    </div>
</div>